<div class="row">
  <div class="col-md-5">
    <%= render partial: "posts/new" %>
  </div>
  <div class="col">
    <h3 style="font-weight: bold;color: hsla(0, 0%, 20%, 0.78);">Tags List</h3>
    <% tag_cloud Tag.counts, %w{css1 css2 css3 css4} do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
  </div>
  <hr/>
  <div class= "col-md-7" id="posts">
    <%= render partial: @posts.reverse %>
  </div>
</div>
